<div style="width: 100vw;">
    <br><br>
    <p class="titulo">Acerca de Airbnb: qué es y cómo funciona</p>
    <p class="des">Hospeda donde quieras, cuando quieras, para que los viajeros disfruten de lo que quieran, donde quieran.</p>
    <br>
    <p class="titulo">Asistencia las 24 horas, los 7 días de la semana</p>
    <p class="des">¿Tienes alguna pregunta? Visita nuestro Centro de ayuda para obtener la información que necesitas. Puedes obtener información sobre cómo encontrar un alojamiento, pagar por una reservación y mucho más.</p>
    <p class="des">Nuestros huéspedes y anfitriones siempre están en movimiento, al igual que nosotros. Nuestro equipo de Asistencia a la comunidad está disponible las 24 horas, los 7 días de la semana, en 11 idiomas distintos. Si necesitas ayuda con reservaciones, reembolsos, devoluciones y mucho más, también ofrecemos AirCover para Anfitriones, que se incluye cada vez que hospedas y te proporciona $ 3 millones en Protección contra daños para Anfitriones. Si necesitas cualquier cosa, ponte en contacto con nosotros.</p>
</div>
